automation/n8n_workflow.json
{
  "nodes": [
    {
      "parameters": {
        "content": "## Indian Stock Market Alert System\n---\n### 📋 Workflow Overview\nRuns every weekday at **9:20 AM IST**.\nFetches active stocks from Postgres, sends each to FastAPI for ML prediction, and fires a Telegram alert if prediction is a **Strong Buy**.\n\n---\n### 🔁 Flow Order\n```\nSchedule Trigger (9:20 AM Mon-Fri)\n        ↓\nPostgres → SELECT active stocks\n        ↓\nSplitInBatches (1 stock at a time)\n        ↓\nPOST /predict → FastAPI :8003\n        ↓\nIF prediction == 'Buy' AND probability > 0.60\n   ✅ TRUE  → Telegram Alert → 🔁 Loop Back\n   ❌ FALSE → Skip (NoOp)   → 🔁 Loop Back\n        ↓\nAll Stocks Done → End\n```\n\n---\n### ⚙️ Configuration Checklist\n- [ ] Set **Postgres credential** (localhost, port 5432)\n- [ ] Set **Telegram Bot Token** in credentials\n- [ ] Set **Telegram Chat ID** in Telegram node\n- [ ] Ensure **FastAPI** is running on `localhost:8003`\n- [ ] Ensure `stocks` table has `is_active = true` rows\n\n---\n### 🗄️ Database\n**Table:** `stocks`\n**Query:** `SELECT symbol FROM stocks WHERE is_active = true;`\n**Seed Test Data:**\n```sql\nINSERT INTO stocks (symbol, is_active)\nVALUES ('TCS', true), ('INFY', true),\n       ('RELIANCE', true), ('HDFCBANK', true);\n```\n\n---\n### 🤖 FastAPI Contract\n**Endpoint:** `POST http://localhost:8003/predict`\n**Request Body:**\n```json\n{ \"symbol\": \"TCS\" }\n```\n**Expected Response:**\n```json\n{\n  \"symbol\": \"TCS\",\n  \"prediction\": \"Buy\",\n  \"probability\": 0.87\n}\n```\n⚠️ probability must be decimal (0.0 – 1.0)\n\n---\n### 📲 Telegram Alert Format\n🚀 BUY SIGNAL: TCS | Probability: 87.00%\n\n---\n### 🐛 Troubleshooting\n| Symptom | Fix |\n|---|---|\n| Goes straight to All Stocks Done | DB has 0 active rows — run seed SQL above |\n| Loop runs once and stops | Check Telegram + Skip nodes loop back to SplitInBatches |\n| Prediction node errors | Ensure FastAPI is running on :8003 |\n| Telegram not sending | Verify Bot Token + Chat ID |\n| Wrong probability format | API must return 0.87 not 87 |\n\n---\n### 🕐 Market Hours Note\nNSE/BSE: **9:15 AM – 3:30 PM IST (Mon–Fri)**\nThis workflow triggers at **9:20 AM** — 5 mins after market open.\nIf FastAPI uses yfinance, it may fail outside market hours.",
        "height": 1816,
        "width": 500,
        "color": 4
      },
      "id": "e7f27038-baf6-43dc-93b4-9544d8c71189",
      "name": "📌 Project Notes",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -928,
        2528
      ]
    },
    {
      "parameters": {
        "content": "## Workflow\n",
        "height": 656,
        "width": 1616,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -416,
        2528
      ],
      "typeVersion": 1,
      "id": "0e799df1-6f24-4a4b-bc5e-a290b2c59e85",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8003/evaluate_positions",
        "options": {}
      },
      "id": "76e5eebe-0e13-4972-8f33-6a14658277c5",
      "name": "Evaluate Positions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -64,
        3040
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "sell_signals",
        "options": {}
      },
      "id": "427ef364-ed4a-484d-b1c8-3912ac2a8748",
      "name": "Split Sell Signals",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3.1,
      "position": [
        176,
        3040
      ]
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "={{ '🚨 SELL SIGNAL: ' + $json.symbol + ' | ' + $json.reason }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "e569a046-27b2-4096-b7eb-7bf6034f6ec7",
      "name": "Send Sell Telegram Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        384,
        3040
      ],
      "webhookId": "87811a02-072c-4475-9057-aeec950a9da8",
      "credentials": {
        "telegramApi": {
          "id": "NgsXp5NlbFJzDK5B",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "20 9 * * 1-5"
            }
          ]
        }
      },
      "id": "856e5f55-e23b-49e5-84b0-d7866a8bbadb",
      "name": "Schedule Trigger1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -272,
        2752
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT symbol FROM stocks WHERE is_active = true;",
        "options": {}
      },
      "id": "2eba5f47-a037-4cd6-92ea-bd2f355fd2e2",
      "name": "Fetch Active Stocks1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -64,
        2752
      ],
      "credentials": {
        "postgres": {
          "id": "eJZRnWgfnRDknGbL",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "0606056e-f379-458e-875d-c276156ffc28",
      "name": "Loop Over Stocks1",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        176,
        2752
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8003/evaluate_positions",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "symbol",
              "value": "={{ $json.symbol }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d8391d8c-f4a3-4435-9833-1bb8034f1e6b",
      "name": "Get Prediction1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        384,
        2640
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-001",
              "leftValue": "={{ $json.prediction }}",
              "rightValue": "Buy",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "cond-002",
              "leftValue": "={{ $json.probability }}",
              "rightValue": 0.6,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "01880e31-e819-466f-8322-e56cebf31114",
      "name": "Is Strong Buy?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        608,
        2640
      ]
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "={{ '🚀 BUY SIGNAL: ' + $json.symbol + ' | Probability: ' + ($json.probability * 100).toFixed(2) + '%' }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "9f3a6696-bdbc-4f94-b968-b887b65b4e03",
      "name": "Send Telegram Alert1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        832,
        2528
      ],
      "webhookId": "ad8b7aa5-f0cf-45f7-85db-1c35f467ba3c",
      "credentials": {
        "telegramApi": {
          "id": "NgsXp5NlbFJzDK5B",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {},
      "id": "d544d274-7bf1-401c-8025-2f46f9cf3a20",
      "name": "Skip (No Signal)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        832,
        2752
      ]
    },
    {
      "parameters": {},
      "id": "3e36a64b-a57e-4ae4-a2fb-a1706f4044eb",
      "name": "All Stocks Done",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        384,
        2896
      ]
    }
  ],
  "connections": {
    "Evaluate Positions": {
      "main": [
        [
          {
            "node": "Split Sell Signals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Sell Signals": {
      "main": [
        [
          {
            "node": "Send Sell Telegram Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Fetch Active Stocks1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Evaluate Positions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Active Stocks1": {
      "main": [
        [
          {
            "node": "Loop Over Stocks1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Stocks1": {
      "main": [
        [
          {
            "node": "Get Prediction1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "All Stocks Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Prediction1": {
      "main": [
        [
          {
            "node": "Is Strong Buy?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Strong Buy?1": {
      "main": [
        [
          {
            "node": "Send Telegram Alert1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip (No Signal)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Telegram Alert1": {
      "main": [
        [
          {
            "node": "Loop Over Stocks1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip (No Signal)": {
      "main": [
        [
          {
            "node": "Loop Over Stocks1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d85c0f39b62354c03c6f678756537e7195b92e364f5a134aa1de46ba18f7c4c7"
  }
}